:root{
  --accent:#18d0c7;
}
body{
  margin:0;
  font-family:Poppins, sans-serif;
  color:#111;
}

header{
  background:#0d0d0d;
  padding:20px;
  color:white;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  max-width:1100px;
  margin:auto;
}

nav ul {
  list-style: none;
  display: flex;   
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 5px 10px;
  transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #007BFF;
}


.accent{
  color:var(--accent);
}

/* HERO */
.hero{
  display:flex;max-width:1100px;
  margin:40px auto;
  padding:20px;
  gap:40px;
  align-items:center;
}

.cta{
  background:var(--accent);
  padding:12px 20px;
  border-radius:8px;
  color:white;
  text-decoration:none;
}

/* ABOUT */
.about{
  background:#f6f7f9;
  padding:50px 0;
}

.about-inner{
  display:flex;
  max-width:1100px;
  margin:auto;
  gap:40px;
  padding:20px;
}

.avatar img{
  width:140px;
  height:140px;
  border-radius:50%;
  border:6px solid var(--accent);
  object-fit:cover;
}

/* PROJECTS */
.projects-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  max-width:1100px;
  margin:auto;
}

.card{
  background:#fff;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 15px rgba(0,0,0,.05);
}

.btn{
  background:var(--accent);
  padding:8px 18px;color:white;
  text-decoration:none;
  border-radius:8px;
  display:inline-block;
  margin-top:10px;
}

/* SKILLS */

.skills{
  background:#f6f7f9;
  padding:50px 0}

.skills-inner{
  display:flex;
  max-width:1100px;
  margin:auto;gap:20px}

.skill-card{
  flex:1;
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 6px 18px rgba(0,0,0,.05);
}

.bar{
  background:#ececec;
  height:10px;
  border-radius:10px;
  overflow:hidden;
}

.bar i{
  background:var(--accent);
  height:100%;
  display:block;
}


/* CONTACT */
.contact{
  background:#111;
  color:white;
  padding:50px;
  text-align:center;
}

.contact-form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;gap:15px;
}

input,textarea{
  padding:12px;
  border-radius:8px;
  border:none;
}

.send{
  background:var(--accent);
  padding:12px;
  border:none;
  border-radius:8px;
  font-weight:bold;
}